.service {
    color: #5318fb;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    letter-spacing: -0.015em;
}

.signupprovider {
    color: #5318fb;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    letter-spacing: -0.015em;
}